.wrapper {
  position: relative;
  padding: 1.5em 2.5em;
  color: var(--app-accent-color);
  background-color: var(--app-bg-color);
  border-radius: 16px;
  box-shadow: 8px 8px 0 0 var(--app-accent-color);
  transform: rotate(-2deg);
}
.wrapper h1 {
  color: hsl(0, 0%, 80%);
}

.logo {
  position: absolute;
  width: 170px;
  height: auto;
  bottom: 1em;
  right: 1em;
  /* transform: translateY(50%); */
  /* transform: rotate(-5deg); */
}

.counter {
  color: var(--app-accent-color);
}
