.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: var(--app-accent-color);
  background-color: var(--app-bg-color);
  border-radius: 16px;
  box-shadow: 8px 8px 0 0 var(--app-accent-color);
  transform: rotate(-2deg);
}
@media (min-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

.heading {
  position: absolute;
  top: -29%;
  left: 50%;
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
  color: crimson;
  transform: translate(-50%, 50%);
  text-shadow: 3px 3px 0 white;
}
@media (min-width: 768px) {
  .heading {
    top: -34%;
    left: 50%;
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .heading {
    top: -40%;
    left: 50%;
    font-size: 3.2rem;
  }
}

.textInfo {
  font-style: italic;
  font-size: unset;
}
@media (min-width: 768px) {
  .textInfo {
    font-size: larger;
  }
}

.logo {
  position: absolute;
  width: 100px;
  height: auto;
  top: 5%;
  right: -2%;
  filter: drop-shadow(-4px -4px 0px black);
}
@media (min-width: 768px) {
  .logo {
    position: absolute;
    width: 170px;
    height: auto;
    top: unset;
    bottom: 0.5em;
    right: 0.5em;
  }
}

.counter {
  color: hsl(0, 0%, 80%);
}
