.listItem {
  flex-direction: column;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}
.listItem:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .listItem {
    flex-direction: row;
  }
}

.salary {
  min-width: 25%;
  text-align: center;
  transition: color 0.2s;
}

.buttonIcon {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.label {
  min-width: 40%;
  padding: 0.3em 1em;
  text-align: left;
  border: none;
  border-radius: 8px;
  background-color: initial;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 1) 100%);
  cursor: pointer;
  transition: color 0.2s;
}

.iconChevronUp {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  transition: 0.3s all;
  transform: translateY(30px);
  opacity: 0;
}

.iconChevronUpChecked {
  opacity: 1;
  transform: translateY(0px);
}

.reward {
  color: var(--app-accent-color-on-light-bg);
}
